@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

body {
    font-family: var(--font-family-main);
    font: var(--font-regular);
}

.app {
    background: var(--bg-color);
    color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}