
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: var(--bg-color);
    padding: 12px;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 2px 4px var(--btn-bg);

}

.m {
    max-width: 250px;
}

.l {
    max-width: 480px;
    padding: 12px 24px;
}
