.input {
    width: 60px;
    padding: 5px 5px 5px 10px;
    border-radius: 8px;
    background: var(--bg-color);
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin-left: 5px;
    background: var(--bg-color);
}

