.chips {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: var(--btn-bg);

    padding: 5px 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 20rem;

    font: var(--font-m);
    svg {
        width: 28px;
        height: 26px;
        fill: var(--secondary-color);
    }
}